body {
  margin: 0;
  font-family: 'Titillium Web';
}

main {
  padding: 20px;
}

main>*:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 6px;
}

.cap {
  text-transform: capitalize;
}