body {
  margin: 0;
  font-family: 'Titillium Web';
}

header {
  padding: 12px 20px;
}

main {
  padding: 20px;
}

header {
  background-color: #50789a;
  /*rgb(212, 239, 178);*/
  position: sticky;
  z-index: 1;
  top: 0;
}

main>*:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 6px;
}

.cap {
  text-transform: capitalize;
}