body {
  margin: 0;
}

iframe:first-child {
  height: 60vh;
  width: 100vw;
  border: 0;
}

iframe:last-child {
  height: 40vh;
  width: 100vw;
  border: 0;
  position: fixed;
  left: 0;
  bottom: 0;
}