main a {
  text-decoration: none;
  color: rgb(25, 32, 139);
  font-weight: bold;
}

main a span {
  color: rgb(23, 139, 79);
}

h1,
h2 {
  color: rgb(25, 32, 139);
  line-height: 1.2;
}

main {
  max-width: 750px;
  margin: 0 auto;
}

main.recept {
  max-width: 100vw;
  padding: 0;
  border-top: 20px solid #000;
}