nav {
  font-family: 'Lora';
}

nav a {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 0 15px;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

nav a:first-child {
  padding-left: 0;
}

nav a.active {
  color: #e9d159;
}