@media screen {

  .hiddenOnScreen {
    display: none;
  }

}

@media print {

  header,
  .portionChange,
  .showNutrionDetails,
  .printEtikett {
    display: none;
  }

  .recept-details img {
    display: none !important;
  }

  .receptdetaljer h1~p {
    display: none;
  }

}