.nChart:not(.in-recept) {
  width: 100%;
  height: 40vh;
  display: block;
  position: absolute;
  left: 0;
  margin-top: -20px !important;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.nChart:not(.in-recept)+* {
  margin-top: calc(40vh - 90px);
  position: relative;
}

.nChart:not(.in-recept)+* h2 {
  color: white;
  margin-bottom: 30px;
}

.nChart .dia::after {
  content: "";
  display: table;
  clear: both;
}

.nChart:not(.in-recept) .dia {
  width: 0;
  /*margin: 40px 100px;*/
}

.nChart .dia {
  background-image: url('/images/grain.jpg');
  background-size: cover;
  background-position: bottom center;
  border-radius: 10px;
}

.nChart:not(.in-recept) .dia.animate {
  /*width: calc(100% - 200px);*/
  width: 100%;
  transition: width 1s;
}

.dia>*:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dia>*:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nChart.in-recept {
  margin-top: 25px;
}

.nChart .dia>* {
  height: 30px;
  float: left;
}

.nChart:not(.in-recept) .dia>* {
  margin-top: 0;
  /*height: calc(35vh - 80px);*/
  height: 40vh;
}

.nChart .dia * {
  mix-blend-mode: multiply;
}


.nChart .protein,
td.xprotein::before {
  background-color: #417e45;
}

.nChart .kolhydrater,
td.xkolhydrater:before {
  background-color: #50789a;
}

.nChart .fibrer,
td.xfibrer:before {
  background-color: #708ca4;
}

.nChart .fett,
td.xfett:before {
  background-color: #d3c062;
}


.nChart .alkohol,
td.xalkohol:before {
  background-color: #8b4a4a;
}

td[class^="x"]:before {
  content: '';
  position: absolute;
  margin-top: 2px;
  right: 80px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

td[class^="x"] {
  position: relative;
}

.epercent {
  display: none;
}

.recept-details .epercent {
  display: inline;
}

.recept-details .epercentAnimate {
  display: none;
}

.nChart:not(.in-recept) * {
  border-radius: 0 !important;
}

.lname {
  font-size: 34px;
  margin-top: 5px;
}