.nChart:not(.in-recept) {
  width: 100%;
  height: 40vh;
  display: block;
  position: absolute;
  left: 0;
  margin-top: -20px !important;
  background-color: #485461;
  background-image: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
  overflow: hidden;
}

.nChart:not(.in-recept)+* {
  margin-top: calc(40vh - 90px);
  position: relative;
}

.nChart:not(.in-recept)+* h2 {
  color: white;
  margin-bottom: 30px;
}

.nChart .dia::after {
  content: "";
  display: table;
  clear: both;
}

.nChart:not(.in-recept) .dia {
  width: 0;
  /*margin: 40px 100px;*/
}

.nChart .dia {
  background-image: url('/images/ui/grain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 10px;
  margin-top: -80px;
}

.nChart:not(.in-recept) .dia {
  -webkit-mask-image: url('/images/ui/mask.png');
  mask-image: url('/images/ui/mask.png');
  -webkit-mask-size: cover;
  mask-size: cover;
}

.nChart:not(.in-recept) .dia.animate {
  /*width: calc(100% - 200px);*/
  width: 100%;
  transition: width 1s, margin-top 2s 1s;
}

.lheading.animate {
  transition: bottom 2s;
}

.dia>*:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dia>*:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nChart.in-recept {
  margin-top: 25px;
}

.nChart .dia>* {
  height: 30px;
  float: left;
}

.nChart:not(.in-recept) .dia>* {
  margin-top: 0;
  /*height: calc(35vh - 80px);*/
  height: 40vh;
}

.nChart .dia * {
  mix-blend-mode: multiply;
}


.nChart .protein,
td.xprotein::before {
  background-color: #417e45;
}

.nChart .kolhydrater,
td.xkolhydrater:before {
  background-color: #50789a;
}

.nChart .fibrer,
td.xfibrer:before {
  background-color: #708ca4;
}

.nChart .fett,
td.xfett:before {
  background-color: #d3c062;
}


.nChart .alkohol,
td.xalkohol:before {
  background-color: #8b4a4a;
}

td[class^="x"]:before {
  content: '';
  position: absolute;
  margin-top: 2px;
  right: 80px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

td[class^="x"] {
  position: relative;
}

.epercent {
  display: none;
}

.recept-details .epercent {
  display: inline;
}

.recept-details .epercentAnimate {
  display: none;
}

.nChart:not(.in-recept) td,
.nChart:not(.in-recept) div {
  border-radius: 0 !important;
}

.lname {
  font-size: 34px;
  margin-top: 5px;
  position: relative;
  margin-bottom: 90px !important;
}

.lheading {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: -46px;
}

.hori-line {
  position: absolute;
  left: 15vw;
  overflow-x: clip;
  width: 0;
  text-align: center;
}

.hori-line.animate {
  width: 70vw;
  transition: width 0.4s;
}

.hori-line img {
  width: 70vw;
  height: 4vh;
  position: absolute;
  left: 0;
  top: 5vh;
}

.vert-line {
  position: absolute;
  bottom: 2vh;
  right: 4vh;
  height: 0;
  overflow-y: hidden;
  text-align: right;
  line-height: 1;
}

.vert-line.animate {
  height: 36vh;
  transition: height 0.4s;
}

.vert-line img {
  height: 30.5vh;
  width: 4vh;
  position: absolute;
  bottom: 0;
  right: 4vh;
}

.hori-line span,
.vert-line span {
  font-family: 'Patrick Hand SC';
  font-size: 2.5vh;
  color: #efefef;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-top: 3px;
  display: inline-block;
  border-radius: 10px;
  line-height: 1;
}


.e-line {
  position: absolute;
  right: 0;
  width: 0;
  opacity: 0;
}

.e-line.animate {
  opacity: 1;
  transition: opacity 0.5s;
}

.e-line img {
  position: absolute;
  right: 8vh;
  height: 0.5vh;
  width: 4.5vh;
}

.e-line span {
  font-family: 'Patrick Hand SC';
  position: absolute;
  right: 3vh;
  top: -1.5vh;
  color: white;
  line-height: 0.8;
  display: block;
  text-align: center;
}

.recept-details .hori-line,
.recept-details .vert-line,
.recept-details .e-line {
  display: none;
}

@media (max-width: 900px) {
  .hori-line {
    left: 2vw;
  }
}